@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
